/* COMMON */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
}

a, a:hover, a:after, a:active, a:focus {
    color: #1d98dc;
    text-decoration: none;
    word-break: break-all;
}

input {
    font-family: Helvetica, Arial, sans-serif;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #1d98dc;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.btn, .btn:hover, .btn:after, .btn:active, .btn:focus {
    color: #fff;
    cursor: pointer;
}

/* TESTNET */

.testnet-badge {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: red;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.testnet-padding {
    padding-top: 60px;
}

/* START PAGE */

.start {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-img {
    width: 400px;
    height: 400px;
    background-image: url("assets/img.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.start-input-container {
    width: 100%;
}

.start-error {
    margin-top: 40px;
    font-size: 16px;
    color: #f87777;
}

.start-input {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    max-width: 800px;
    width: calc(100% - 40px);
    border: 1px solid #aaa;
    border-radius: 4px;
}

.version {
    position: absolute;
    bottom: 10px;
    color: #666666;
    font-size: 12px;
}

/* HEADER */

.badge {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
}

.testnet-padding .badge {
    top: 80px;
}

.badge-icon {
    width: 32px;
    height: 32px;
    background-image: url("assets/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 8px;
}

.nav-input {
    position: absolute;
    right: 20px;
    top: 18px;
    width: calc(100% - 40px);
}

.testnet-padding .nav-input {
    top: 78px;
}

.nav-input input {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #eeee;
    border-radius: 4px;
    transition: width 150ms ease-out;
}

.nav-input input:focus {
    width: 300px;
}

/* SOON */

.soon {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}


@media screen and (max-width: 800px) {
    .main {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .main {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.h {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.h span {
    word-break: break-all;
}

.status {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    line-height: 52px;
    margin-left: 20px;
}

.busy {
    background-color: rgba(230, 79, 79, .18);
    color: #f87777;
}

.free {
    background-color: rgba(30, 176, 60, .18);
    color: #2bb259;
}

.copy-container {
    cursor: pointer;
}

canvas {
    margin-left: -10px;
}

@media screen and (max-width: 490px) {
    .h {
        flex-direction: column;
        align-items: start;
    }

    .status {
        margin-top: 8px;
        margin-left: 0;
    }

    .nav-input input {
        width: 120px;
    }

    .nav-input input:focus {
        width: calc(100% - 20px);
    }
}

.info {
    color: #666;
}

.strong {
    color: #000;
    font-weight: bold;
}

.padding-top {
    padding-top: 20px;
}

.addr {
    font-family: monospace;
    color: #1d98dc;
    word-break: break-all;
}

#freeComment {
    word-break: break-all;
}

.copy-btn {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.copy-btn-icon {
    width: 24px;
    height: 24px;
    background-image: url("assets/copy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -20px;
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    margin-top: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 5px solid #1d98dc;
    border-left: 5px solid transparent;

    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

/* DOMAIN EDIT */

.edit-expand #connectBtn, .edit-expand #busyOwnerRow {
    display: none;
}
.edit-loading #connectBtn, .edit-loading #busyOwnerRow {
    display: none;
}

#editLoading {
    display: none;
}

#domainEditContainer {
    display: none;
    flex-direction: column;
}

.edit-expand #domainEditContainer, .edit-loading #editLoading {
    display: flex;
}

.edit-form {
    margin-top: 10px;
}

.edit-row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}

.edit-label {
    width: 150px;
    font-size: 20px;
}

.edit-input {
    display: flex;
    flex-grow: 1;
}

.edit-input input {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    font-size: 14px;

    border: 1px solid #aaa;
    border-radius: 4px;
}

.edit-btn {
    width: 100px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 20px;
}